.DS_Store
.ipynb_checkpoints
subsize_image_data
temp/
bean_bucket_100.zip
test.png
test.svg
test.py
old_files/
test_filter.py
/__pycache__
/src/pore2chip/__pycache__
/src/flow/__pycache__
example_outputs/micromodel.vtk
isrc/pore2chip.egg-info/PKG-INFO/*
src/pore2chip/gencoord.py
src/pore2chip.egg-info
tests/results/
tests/resultspinn_*
dist/*
docs/build/
