drawsvg
ezdxf
feret
numpy
opencv-python
openpnm
porespy @ git+https://github.com/PMEAL/porespy.git@fix_scikit_image_deprecations
pypardiso
scikit-image
scipy
yapf
svglib
reportlab
cairosvg
gstools
jaxlib
jax
optax
matplotlib